<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131545649-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-131545649-1');
  </script>


</head>
<p>Movies controller</p>

<div id="movies-container">
  <% @movies.each do |movie| %>
      <div class="item">
        <div class="icon">
          <%= image_tag("https://www.2youhd.com/wp-content/uploads/2018/12/1546165652_Wjc9I.jpg", {:style => "width:215px;height:158"}) %>
        </div>

        <p class="imdb"><%= "IMDB SCORE: #{movie.description}" %></p>
        <p class="name"><%= movie.name %></p>
      </div>
  <% end %>
</div>
<%= paginate @movies %>
