<h1>Welcome to my personal page S with robot</h1>
"ดู,ดูหนัง,ดูหนังออนไลน์,หนัง,หนังใหม่,ดูหนังฟรี HD,ดูหนังออนไลน์ หนังมาใหม่,ดูหนังออนไลน์ หนังแอ็คชั่น,ดูหนังออนไลน์ แนววันสิ้นโลก,หนังฝรั่ง,
Movie,MovieHD,"
<% @categories.each do |category|%>
    <p><%= category.name %></p>
<% end %>