<!DOCTYPE html>
<html>
  <head>
    <title>Sstock</title>
    <%= csrf_meta_tags %>

    <meta name="Keywords" content="ดู,ดูหนัง,ดูหนังออนไลน์,หนัง,หนังใหม่,ดูหนังฟรี HD,ดูหนังออนไลน์ หนังมาใหม่,ดูหนังออนไลน์ หนังแอ็คชั่น,ดูหนังออนไลน์ แนววันสิ้นโลก,หนังฝรั่ง,
Movie,MovieHD,">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
